*{
    padding: 0%;
    margin: 0%;
    margin-top: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-top: 5%;
}

.texth {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 2%;
    color: rgb(221, 53, 53);
}

.input{
    margin-top: 1%;
    border-radius: 25px;
    padding: 7px;
    border-color: rgb(221, 53, 53);
}

.botao{
    padding: 10px;
    border-radius: 22px;
    border-color: rgb(221, 53, 53);
    color: rgb(221, 53, 53);
}

.result{
    margin-top: 2%;
    color: rgb(221, 53, 53)   
}
